.bgBack {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.1)
    ),
    url("../../assets/images/back.jpeg");
  background-size: cover;
  background-position: center;
  height: 60vh;
}

@media screen and (max-width: 480px) {
    .bgBack {
        height: 80vh; 
    }
  }